/* Styles go here */

.main {
  width: 100%;
  position: relative;
}

.wrapper {
  position: relative;
  max-width: 800px;
  margin: auto;
  height: auto;
}

.main:after {
  position: absolute;
  content: '';
  width: 5px;
  margin-left: -2.5px;
  top: 0px;
  bottom: 0;
  left: 50%;
  background: #000;
  z-index: -1;
}
.element-wrapper {
  position: relative;
}
.element {
  position: relative;
  width: auto;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px 10px;
}
.element .content {
  background: blue;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 5px;
}


.tooltip {
  display: block;
  position: absolute;
  height: 20px;
  background: red;
  padding: 3px;
  min-width: 50px;
  box-sizing: border-box;
  text-align: center;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  top: -10px;
}

.tooltip:after {
  position: absolute;
  content: '';
  top: 0;
  border: 10px solid transparent;
  display: none;
}


.bl-image {
  margin: -16px;
  margin-bottom: 0;
}
.bl-image img {
  width: 100%;
  display: block;
  border-radius: 5px 5px 0 0;
}
@media (min-width: 500px) {
  .main:after{
    top: 20px;
  }
  .element {
    padding: 0;
    position: absolute;
    width: 50%;
    padding: 20px;
    margin: -20px;
    box-sizing: border-box;
  }
  .block-left .element {
    left: 0;
    margin-right: 20px;

  }

  .block-right .element {
    left: 50%;
    margin-left: 20px;
  }

  .tooltip:after {
    display: block;
  }
  .block-right .tooltip:after {
    right: -20px;
    border-left: 10px solid red;
  }

  .block-left .tooltip:after {
    left: -20px;
    border-right: 10px solid red;
  }
}
