/* Styles go here */

.main {
  width: 100%;
  position: relative;
}

.wrapper {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.main:after {
  position: absolute;
  content: '';
  width: 5px;
  margin-left: -2.5px;
  top: 20px;
  bottom: 0;
  left: 50%;
  background: #000;
  z-index: -1;
}

.element .content {
  background: blue;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 5px;
}

.element {
  padding: 0;
  position: absolute;
  width: 50%;
  padding: 20px;
  margin: -20px;
  box-sizing: border-box;
}

.block-left .element {
  left: 0;
  margin-right: 20px;

}

.block-right .element {
  left: 50%;
 margin-left: 20px;

}

.tooltip {
  display: block;
  position: absolute;
  height: 20px;
  background: red;
  padding: 3px;
  min-width: 50px;
  box-sizing: border-box;
  text-align: center;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
}

.block-left .tooltip:after,
.block-right .tooltip:after {
  position: absolute;
  content: '';
  top: 0;
  border: 10px solid transparent;
}

.block-right .tooltip:after {
  right: -20px;
  border-left: 10px solid red;
}

.block-left .tooltip:after {
  left: -20px;
  border-right: 10px solid red;
}
.bl-image {
  margin: -16px;
  margin-bottom: 0;
}
.bl-image img {
  width: 100%;
  display: block;
  border-radius: 5px 5px 0 0;
}
@media (max-width: 450px) {
  .main:after{
    top: 0px;
  }
  .element {
    position: relative;
    width: auto;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
  }
  .wrapper {
    height: auto !important;
  }
  .element-wrapper {
    position: relative;
  }
  .block-left .tooltip:after,
  .block-right .tooltip:after {
    display: none;
  }
  .tooltip {
    top: -10px !important;
  }
}